/* .css-6hp17o-MuiList-root-MuiMenu-list{
    display: flex !important;
} */
/* body:nth-child(2) .MuiPaper-root-MuiPopover-paper-MuiMenu-paper ul{
    display: flex !important;
}
body:nth-child(2)>div .MuiButtonBase-root-MuiMenuItem-root{
    display: block !important;
} */

/* #root ~ div:nth-child(3) ul .color_button:has(ul){
    display: flex !important;
} */
#root ~ div:nth-child(3) ul .color_button:has(ul){
    display: flex !important;
}
.colorBanner>div{
    border: 3px solid #e5e2e285!important;
    padding: 9.5px 14px!important;
    border-radius: 6px!important;
}
.colorBanner>div input{
    padding: 0 !important;
}

.tiles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
  }
  
  .bye>div>div>div{
    grid-template-columns: repeat(3, 1fr) !important;
    overflow: hidden;
  }

  .bye>div>div>div div{
    padding:12px 0px 12px 0px !important;
    border-radius: 6px;
  }

  /* Add any additional styles as needed */
  