

   .checkbox-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px; /* Adjust the gap between grid items */
  }
  
  .grid-item {
    flex: 1;
    margin: 4px; /* Adjust the margin around each checkbox */
  }
  
  .tiles-select>div{
    border: none !important;
    padding: 0px !important;
  }