
.search_input {
    min-width: 14rem;
    background: #f2f4f6;
    color: #5a5a5abf !important;
  }
  /* .filterIcon{
    background-color: #ffc518d4 !important;
    width: 22px;
    height: 23px;
    margin-top: 25px;
    padding: 7px;
    border-radius: 5px;
  } */
  .adMaster_Title{
    padding-left: 17px !important;
  }
  .textLabel{
    color: #c4c4c4 !important;
  }

  .labelTextDrop{
    color: #c4c4c4 !important;
  }
  .uploadImageContainer h6{
    color: #ffc518 !important;
    font-size: 15px !important;
  }
  .shop_img1{
    display: none;
  }