.closeIcon {
	cursor: pointer;
	display: flex;
	justify-content: flex-end !important;
	padding: 0px 0px 10px 0px;
}
.modalBox {
	position: absolute;
	top: 4%;
	left: 7%;
	right: 7%;
	width: 86%;
	height: 687px;
	padding: 12px;
}
.para {
	text-align: justify;
}
.headerField {
	display: flex;
}
.field {
	margin-left: 25%;
}
