.pincodeHeader .MuiFormControl-root{
    margin: 0 !important;
}
.hai .MuiSelect-select span>span{ 
    display:none !important;
}
.hai .MuiSelect-select>span{ 
    display:none !important;
}
.PincodeTextInput{
    padding-top: 20px !important;
    width: 250px;
}

.PincodeTextInput label{
    top: 25px !important;
}

.PincodeDropdown{
    padding-top: 20px !important;
}


.PincodeDropdown svg{
    top: unset !important;
}

.addIconPincode{
    padding: 20px 0 0 12px;
}
.pincodeBoxes{
    display: inline-flex;
}